<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>
</head>

<body>
    <h2>Hello <%=name %>! </h2>
    <p>Welcome to Chategorize. To get started, try creating your own chatroom and invite your friends to join.</p>
    <p>Chategorize allows you to organize your chats easily by event name, topic or however else you want to sort your
        coversations by.</p>
    <p>It's as easy as that! Pick a name for your chat, such as 'Holiday' or 'SpanishClass' and add anyone else with a
        chategorize account by their username.</p>
    <p>We hope you enjoy using Chategorize!</p>

</body>

</html>