<%- include('partials/head'); %>

    <body>
        <%- include('partials/navbar'); %>
        <div class="index-container">
            <div id="earth-border">
                <h1 id="chategorize">
                    Chategorize
                </h1>
                <p id="tagline">Organize your chats to easily refer back to specific events or ideas</p>
                <div id="earth"></div>
            </div>
        </div>


            <%- include('partials/footer'); %>
    </body>

    </html>