<%- include('partials/head'); %>

    <body>

        <%- include('partials/navbar'); %>
            <h1 id="chategorize">
                Chategorize
            </h1>

            <div>
                <h2 id="tagline">Create New Room</h2>
                <div class="row">
                    <div class="col-4 offset-4">

                        <form action="/chatname" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="chatname"></label>
                                <input class="form-control" type="text" id="chatname" name="chatname" maxlength="20"
                                    onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
                                    placeholder="Chat name" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>

                            </div>


                            <button class="btn btn=success fancy-button">Create Room</button>
                        </form>

                    </div>
                </div>
            </div>

            <script type="text/javascript">
                var field = document.querySelector('[name="chatname"]');

                field.addEventListener('keyup', function (event) {
                    var userName = field.value;
                    userName = userName.replace(/\s/g, '');
                    field.value = userName;
                });

                window.onload = () => {
                    const myInput = document.getElementById('chatname');
                    myInput.onpaste = e => e.preventDefault();
                }

            </script>

            <%- include('partials/footer'); %>
                <script src="/validateForms.js">

                </script>
    </body>

    </html>