body {
    background: linear-gradient(to right, #89d6fb 0%, #4d0cdb 100%);   
}

.bg-custom {
  
    background-color: #fafafa;
}

#earth-border {
    
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 10px;
    
    background: rgba(255, 255, 255, 0.199);
}

#new-button {
    margin-top: 10px;
}


#earth {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background: #888 url(https://images.photowall.com/products/49769/watercolour-world-map-soft-colors.jpg?h=699&q=85)
    0 0 repeat;
    border-radius: 50%;
    background-size: 630px;
    animation: rotate 6s linear infinite;
    transition: transform 200ms linear;
    transform-style: preserve-3d;
    box-shadow: inset 20px 0 80px 6px rgb(66, 66, 66);
    color: #000;
}

@keyframes rotate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 630px 0;
    }
}

#add-friend-name {
    border: solid 1px rgba(116, 3, 245, 0.692);
    margin-bottom: 10px;
    margin-top: 10px;
}

#room-info {
    background-color: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    border-radius: 5%;
}

.fancy-button {
    border-radius: 15%;
    background-color: #4d0cdb;
    color: white;
    border: solid 2px white;
    text-decoration:  none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    
}

.dropdown-item:hover {
    background-color: rgb(255, 255, 255);
}

.emo {
    border-color: rgb(255, 255, 255);
}

.fancy-button:hover {
    
    text-decoration: none;
    background:rgb(0, 159, 199);
    color: white;    
}

#title-text {
    color: black;
    font-size: 22px;
}

#create {
    border: 1px solid white;
    border-radius: 20%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: rgb(86, 245, 218);
    color: white;
}

#emoji-choice {
    background-color: transparent;
    border-color: transparent;
}


.dropup .dropdown-toggle::after {
    display: none;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 5rem;
    color:rgb(250, 250, 250);
    padding-top: 10px;
    padding-left: 10px; 
}

#chategorize {
    text-align: center;
    border-bottom: solid white 2px;
}

#tagline {
    text-align: center;
    color:rgb(250, 250, 250);
    font-size: 1.8rem;
    font-family: 'Megrim', cursive;
    font-family: 'Montserrat', sans-serif;  
}

#box {
    border: solid 1px white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.personal-info {
    padding-left: 10px;
    color:rgb(250, 250, 250);
    font-size: 1.8rem;
    font-family: 'Megrim', cursive;
    font-family: 'Montserrat', sans-serif;  
}

#form {
    display: flex;
    justify-content: center;
    width: 100%;    
}

#input {
    border-radius: 15px;
    border: 1px solid white;
    width: 70%;
    margin-right: 10px; 
    margin-bottom: 10px;
    height: 40px;  
}

#messages {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;    
}

ul {
    list-style-type: none;
}

#main-page {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: row;   
}

#chat-members {
    line-height: 2;
    padding-left: 10px;
    background:#bcd1e3;
}

#centered {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#chat-cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
    background: #126e8a1a;
    height: 500px;   
}


#members-cont {
    float: right;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;  
}

#history {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;   
}

#message-container {
    height: 500px;
    overflow: scroll;   
}

#room-cont {
    border: solid 1px rgb(255, 255, 255);
    height: 500px;
    width: 300px;
    float: right;
    margin-right: 30px;
}


button {
    border: 1px solid rgb(146, 213, 252);
    border-radius: 20%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    background-color: white;
    color: white;
}

#centered-links {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;

}

#headingOne {
    background:#fafafa;
}

.chat-titles {
    color:rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 200;
    
    

}

.chat-titles:hover {
    color:rgb(255, 255, 255);
    text-decoration: none;
    background:#4d0cdb;
    
}

#my-messages {
    background-color: #4d0cdb;
}

#room-id {
    display: none;
}
.message-color {
    margin: 2px;
    padding: 5px;
    background-color: rgb(5, 155, 224);  
    height: auto;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;       
}

.message-color:before {
    content: "";
    position: absolute;
    right: var(--messageTail, 100%);
    left: var(--otherTail, auto);
    top: 10px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: var(--borderLeftBef, none) solid var(--borderBeforeCol, rgb(5, 155, 224));
    border-right: var(--borderRightBef, 26px) solid var(--borderBeforeCol, rgb(5, 155, 224));
    border-bottom: 1px solid transparent;
  }


  @media (max-width: 1130px) {
    #main-page {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #yourname {
        display: none;
    }
    #this-room-is {
        display: none;
    }
    #chat-cont {
        max-width: 80%;
    }
    #members-cont {
        margin-top: 20px;
        margin-bottom: 20px;
    }   
}


@media (max-width: 490px) {
    #chategorize {
        font-size: 42px;
    }
    li {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    #earth {
        display: none;
    }
}